.navbar-brand {
    font-family: 'Francois One', sans-serif;
    font-size: 20pt;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.hero h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 50pt;
}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30pt;
}

.hero-section {
    margin-top: 15rem;
}

header {
    background-image: url('../img/bg22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*padding-bottom: 10rem;*/
}

.acerca h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: justify;
}

.acerca p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.experiencia h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.experiencia h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.experiencia p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.trabajos h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.trabajos h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.trabajos p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.btn-dark {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}